<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>Herbify - Landing Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-white">
      <a class="navbar-brand" href="#">
        <img src="assets/img/herbify-logo.png" alt="Logo" height="50%" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#partnership">Partnerships</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#download">Download</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <section id="home">
      <div
        class="container h-100 w-100 align-items-center"
        style="display: grid"
      >
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="font-weight-bold large-title mb-0">
              Herbalize Your Life
            </h1>
            <div class="row justify-content-center">
              <div class="col-6 subtitle py-4">
                Hadir dengan berbagai fitur unggulan sebagai solusi dari
                minimnya sosialisasi dan edukasi herbal di Indonesia
              </div>
            </div>
            <!-- <p class="py-3 subtitle">
              <span class="character-limit">
                Hadir dengan berbagai fitur unggulan sebagai solusi dari
                minimnya sosialisasi dan edukasi herbal di Indonesia
              </span>
            </p> -->
            <a href="javascript:void(0)" class="btn btn-green py-2 px-4"
              >Unduh Sekarang</a
            >
          </div>
        </div>
      </div>
    </section>

    <section id="features">
      <div class="container py-5 bg-green text-white border-features mw-100">
        <div class="row">
          <div class="col text-center">
            <h4>
              Herbify hadir dengan 3 fitur unggulan yang memudahkan <br />
              anda menemukan obat herbal yang tepat
            </h4>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4 text-center">
            <img src="assets/img/HerbalDoc.png" alt="HerbalDoc" width="30%" />
            <h4 class="my-3">HerbalDoc</h4>
            <p>Konsultasi dengan dokter ahli dalam bidang herbal</p>
          </div>
          <div class="col-lg-4 text-center">
            <img
              src="assets/img/HerbalPedia.png"
              alt="HerbalPedia"
              width="30%"
            />
            <h4 class="my-3">HerbalPedia</h4>
            <p>Konsultasi dengan dokter ahli dalam bidang herbal</p>
          </div>
          <div class="col-lg-4 text-center">
            <img src="assets/img/HerbalTalk.png" alt="HerbalTalk" width="30%" />
            <h4 class="my-3">HerbalTalk</h4>
            <p>Konsultasi dengan dokter ahli dalam bidang herbal</p>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="font-weight-bold">Our Team</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- Carousel wrapper -->
            <div
              id="carouselMultiItemExample"
              class="carousel slide carousel-dark text-center"
              data-mdb-ride="carousel"
            >
              <!-- Controls -->
              <div class="d-flex justify-content-center mb-4">
                <button
                  class="carousel-control-prev position-relative"
                  type="button"
                  data-mdb-target="#carouselMultiItemExample"
                  data-mdb-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next position-relative"
                  type="button"
                  data-mdb-target="#carouselMultiItemExample"
                  data-mdb-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Inner -->
              <div class="carousel-inner py-4">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="assets/img/user.png"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Krishna Hendra</h5>
                        <p>Cloud Computing</p>
                        <q class="text-muted">
                          Lorem ipsum dolor sit amet consectetur.
                        </q>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="assets/img/user.png"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Ahmad Fajrudin Syauqi</h5>
                        <p>Mobile Developer</p>
                        <q class="text-muted">
                          Lorem ipsum dolor sit amet consectetur.
                        </q>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="assets/img/user.png"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Hania Pratiwi Ningrum</h5>
                        <p>Machine Learning</p>
                        <q class="text-muted">
                          Lorem ipsum dolor sit amet consectetur.
                        </q>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">John Doe</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quod eos id officiis hic tenetur quae quaerat ad
                          velit ab hic tenetur.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Alex Rey</h5>
                        <p>Web Developer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid
                          commodi.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Photographer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum deleniti
                          atque corrupti.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quod eos id officiis hic tenetur quae quaerat ad
                          velit ab hic tenetur.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">John Doe</h5>
                        <p>Web Developer</p>
                        <p class="text-muted">
                          <i class="fas fa-quote-left pe-2"></i>
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid
                          commodi.
                        </p>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li>
                            <i class="fas fa-star-half-alt fa-sm"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-4 d-none d-lg-block">
                        <img
                          class="rounded-circle shadow-1-strong mb-4"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp"
                          alt="avatar"
                          style="width: 150px"
                        />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Photographer</p>
                        <q class="text-muted">
                          <i class="fas fa-quote-left qe-2"></i>
                          At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium voluptatum deleniti
                          atque corrupti.
                        </q>
                        <ul
                          class="list-unstyled d-flex justify-content-center text-warning mb-0"
                        >
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="fas fa-star fa-sm"></i></li>
                          <li><i class="far fa-star fa-sm"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Inner -->
            </div>
            <!-- Carousel wrapper -->
          </div>
        </div>
      </div>
    </section>

    <section id="partnership">
      <div class="container py-5">
        <h5 class="font-weight-bold">Halo dokter Indonesia 👋🏻</h5>
        <p class="mb-0 py-3">
          Tertarik menjadi bagian dari herbify? <br />
          segera daftarkan diri anda!
        </p>
        <a href="javascript:void(0)" class="btn btn-green py-2 px-3">Daftar</a>
      </div>
    </section>

    <section id="download">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-7 my-auto">
            <h1 class="mb-5">
              Dapatkan sekarang! <br />
              Nikmati manfaatnya
            </h1>
            <a href="#">
              <img
                src="assets/img/play-store.svg"
                alt="play-store"
                width="40%"
              />
            </a>
          </div>
          <div class="col-lg-5 text-center my-auto">
            <img src="assets/img/mockup-app.png" alt="Mockup" class="w-100" />
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/herbify-logo.png" alt="logo" width="40%" />
            <p class="ml-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br />
              Quam sapiente ipsum nesciunt sequi cumque cum.
            </p>
          </div>
          <div class="col-lg-3">
            <h4 class="font-weight-bold mb-4">Supported By</h4>
            <img src="assets/img/bangkit-logo.png" alt="bangkit" width="50%" />
            <br />
            <img src="assets/img/google-logo.png" alt="google" width="40%" />
          </div>
          <div class="col-lg-3">
            <h4 class="font-weight-bold mb-4">Contact Us</h4>
            <h6>✉️ indo.herbify@gmail.com</h6>
            <h6>☎️ +628212912877</h6>
            <h6>📍 Malang, Jawa Timur</h6>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
